:root {
  font-size: 16px;
  box-sizing: border-box;
  --accent: deepskyblue;
  --border-radius: 12px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ddd;
  width: 100vw;
}

main.app {
  display: flex;
  align-items: center;
  flex-direction: column;

  max-width: 1280px;
  width: 100vw;
  min-height: 100vh;

  background: #eee;
  padding: 0.5rem;
}

.logged-in {
  margin: 1rem;
}

.authenticate {
  margin: 1rem;
  padding: 1rem;

  background: #fff;
  border-radius: var(--border-radius);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.authenticate form {
  display: flex;
  flex-direction: column;
}

.authenticate form > * {
  margin: 0.5rem;
}

.cities-list-container {
  height: 100%;
  width: 100%;
}
.cities-list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  background: #f0f0f0;
}

.city-card {
  width: 15rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: #fff;
  border-radius: var(--border-radius);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  animation: fly-in-left 1s running;
}

.city-card > main {
  padding: 1rem;
  flex-grow: 1;
}

.city-card > footer {
  flex-grow: 1;
  padding: 1rem;

  border: 1px solid #eee;
}

.city-card h2, .city-card h3 {
  text-align: center;
}

@keyframes fly-in-left {
  0% {
    transform: translateX(-150vw);
  } 100% {
    transform: translateX(0);
  }
}


button {
  margin: 0.25rem;
  padding: 0.25rem 0.5rem;

  border: none;
  border-radius: var(--border-radius);
  background: var(--accent);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  filter: brightness(100%);
  transition: 200ms;
}

button:hover {
  filter: brightness(120%);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

input[type=text], input[type=password] {
  border: 1px solid #eee;
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

p {
  margin: 0.2rem;
}
